<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="fr.xgouchet.rehearsal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".RehearsalApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity
                android:name=".home.HomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".script.ScriptActivity"/>

        <activity android:name=".scene.SceneActivity"/>

        <activity
                android:name=".cast.CastActivity"
                android:label="@string/cast_title"/>

        <activity android:name=".schedule.list.ScriptScheduleActivity"/>

        <activity
                android:name=".schedule.create.CreateScheduleActivity"
                android:label="@string/schedule_title_create"/>

        <activity
                android:name=".range.RangePickerActivity"
                android:label="@string/rangePicker_title"/>

        <!-- region Voice service -->
        <service android:name=".voice.service.VoiceService"/>
        <receiver android:name=".voice.service.VoiceMediaButtonReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <!-- endregion -->
    </application>

</manifest>
